<h1>Add or Devour a Delicious Burger!</h1>
<ul>
  {{#each burger}}
  {{#unless devoured}}
  {{> burger/burger-block devoured=false}}
  {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each burger}}
  {{#if devoured}}
  {{> burger/burger-block devoured=true}}
  {{/if}}
  {{/each}}
</ul>

<form id="create-form">

  <div class="form-group">
    <label for="eat">Burger Name:</label>
  </div>

  <button type="submit">Add burger</button>
</form>